<footer class="page__footer">

  <a class="footer__arrow" href="./#header"><img class="arrow__icon" src="./assets/images/ico-arrow.svg"
    alt="To top" Title="To top"></a>


  <nav class="footer__nav">
    <ul class="footer__menu">
      <li class="menu__item"><a class="menu__link" href="https://adalab.es" title="Articles"
          target="_blank">articles</a></li>
      <li class="menu__item"><a class="menu__link" href="https://adalab.es" title="Books" target="_blank">books</a>
      </li>
      <li class="menu__item"><a class="menu__link" href="https://adalab.es" title="Events" target="_blank">events</a>
      </li>
      <li class="menu__item"><a class="menu__link" href="https://adalab.es" title="Reasons" target="_blank">reasons</a>
      </li>
      <li class="menu__item"><a class="menu__link" href="https://adalab.es" title="Tips" target="_blank">tips</a>
      </li>
    </ul>
  </nav>
  <section class="footer__social">
    <ul class="footer__menu">
      <li class="social__item"><a class="menu__link" href="https://adalab.es" title="Twitter"
          target="_blank">Twitter</a></li>
      <li class="social__item"><a class="menu__link" href="https://adalab.es" title="Instagram"
          target="_blank">Instagram</a></li>
      <li class="social__item"><a class="menu__link" href="https://adalab.es" title="Mastodon.Social"
          target="_blank">Mastodon.Social</a></li>
    </ul>
  </section>
  <section class="footer__copy">
    <ul class="copy__menu">
      <li class="copy__text">&copy2021</li>
      <li class="copy__text">we <span class="heart">♥</span> components</li>
    </ul>
  </section>
</footer>