<header class="page__header">

  <nav class="header__nav"><a href="https://adalab.es/" title="Adalab" target="_blank"><img class="menu__icon"
        src="./assets/images/ico-menu.svg" alt="Adalab" Title="Adalab"></a></nav>
  <h1 class="header__title"> Anonymous proxy</h1>
  <p class="header__text">In hac habitasse platea dictumst.</p>
  <a href="./#reasons" class="header__scroll"><img class="menu__icon2" src="./assets/images/ico-scroll-down.svg"
      alt="3 reasons to purchase" Title="3 reasons to purchase"></a>
</header>