<section class="reasons" id="reasons">
  <h2 class="body__title">3 reasons to purchase</h2>
  <div class="main__reasons--wrapper">
    <div class="reason1">
      <include src="./article-item.html" title="Ut sed metus" text="Lorem ipsum dolor sit amet, consectetur."></include>
    </div>
    <div class="reason2">
      <include src="./article-item.html" title="Curabitur ac erat" text="Mauris mattis urna quis lorem molestie.">
      </include>
    </div>
    <div class="reason3">
      <include src="./article-item.html" title="Morbi dictum" text="Aliquam in dolor et dolor tincidunt.">
      </include>
    </div>
    <div class="reason4">
      <div class="button__reasons">More reasons</div>
    </div>

  </div>
</section>