<section class="reasons">
    <div class="main__wrapper--reasons">
      <h2 class="title__reasons">3 reasons to purchase</h2>
      <article class="reasons">
        <h3 class="item__reasons">Ut sed metus</h3>
        <p class="text__item">Lorem ipsum dolor sit amet, consecteur.</p>
      </article>
      <article class="reasons">
        <h3 class="item__reasons">Curabitur ac erat</h3>
        <p class="text__item">Mauris mattis urna quis lorem molestie.</p>
      </article>
      <article class="reasons">
        <h3 class="item__reasons">Morbi dictum</h3>
        <p class="text__item">Aliquam in dolor et dolor tincidunt.</p>
      </article>
      <button>More reasons</button>
    </div>
  </section>