// fonts
$font-main: "Roboto", sans-serif;
$font-secondary: "Roboto Slab", serif;

// colors
$color-bg: #fff;
$color-secondary: #eff9ff;
$bright-orange: #f26002;
$light-blue: #8ccbea;
$cerulean: #0271bc;
$dark-grey-blue: #304268;
