.page__footer {
  background-color: $dark-grey-blue;
  font-family: $font-main;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 465px;
  padding: 60px 15px 45px;
  @media (min-width: 768px) {
    flex-direction: row;
    height: 240px;
    padding: 45px 39px;
  }
  @media (min-width: 1200px) {
    height: 240px;
    padding: 45px 370px;
  }

  .footer__nav {
    height: 150px;
    width: 73px;
    line-height: 1.88;
    text-align: center;
    @media (min-width: 768px) {
      margin: 0 30px;
      text-align: left;
    }
    @media (min-width: 1200px) {
      margin: 0 30px 0 31px;
    }
  }
  .footer__social {
    display: flex;
    flex-direction: column;
    width: 147px;
    height: 90px;
    margin: 30px 0;
    line-height: 1.88;
    text-align: center;
    @media (min-width: 768px) {
      margin: 0 0 60px 30px;
      text-align: left;
      width: 210px;
    }
    @media (min-width: 1200px) {
      width: 159px;
    }
  }
  .menu__item,
  .menu__link {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
  }
  .footer__copy {
    display: flex;
    height: 30px;
    width: 290px;
    margin: 30px 0 0 0;
    &__copy__text {
      text-align: center;

      line-height: 2.14;
    }
    .copy__text2 {
      font-size: 14px;
      line-height: 2.14;
      text-align: center;
      @media (min-width: 768px) {
        text-align: left;
      }
      @media (min-width: 1200px) {
        text-align: left;
      }
      .heart {
        font-size: 14px;
        line-height: 30px;
        color: $bright-orange;
      }
    }
  }
}
