.page__footer {
  background-color: $dark-grey-blue;
  font-family: $font-main;
  color: white;
}
.menu__item {
  color: white;
  text-decoration: none;
}
.menu-link {
  text-decoration: none;
  color: white;
}
