.page__header {
  background-image: url("../images/cover.jpg");
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  @media (min-width: 1200px) {
    object-fit: contain;
  }
}
.header__title {
  font-family: $font-secondary;
  font-size: 42px;
  line-height: 1.31;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  @media (min-width: 768px) {
    font-size: 80px;
  }
  @media (min-width: 1200px) {
    font-size: 100px;
    line-height: 1.32;
  }
}
.header__text {
  font-family: $font-main;
  font-size: 16px;
  margin: 10px 0 45px 15px;
  text-align: center;
  color: #fff;
  @media (min-width: 768px) {
    font-size: 24px;
  }
}
