.hero__main {
  background-image: url("../images/cover.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  @media (min-width: 1280px) {
    object-fit: contain;
  }

  .hero__title {
    font-family: $font-secondary;
    font-size: 42px;
    line-height: 1.31;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    @media (min-width: 768px) {
      font-size: 80px;
    }
    @media (min-width: 1280px) {
      font-size: 100px;
      line-height: 1.32;
    }
  }
  .hero__text {
    font-family: $font-main;
    font-size: 16px;
    margin: 10px 0 45px 15px;
    text-align: center;
    color: #fff;
    @media (min-width: 768px) {
      font-size: 24px;
    }
  }
}

.hero__scroll {
  width: 45px;
  height: 45px;
  background-color: white;
  border-radius: 50%;
  align-self: center;
  justify-content: flex-end;
  margin-bottom: 53px;
}
.menu__icon2 {
  margin: 18px 12px 15.3px 13px;
}
